:root {
    --primary-color: chocolate;
    --background-color: rgb(231, 218, 193);
    --error-color: red;
    --success-color: green;
    --button-color: #4caf50;
    --button-hover-color: #45a049;
  }
  
  .login-wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .login-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
  }
  
  .login-overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
  }
  
  .login-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  
  .auth-form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    /*background-color: var(--background-color);*/
    border-radius: 10px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    text-align: left;
  }
  
  h2 {
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .input-wrapper {
    position: relative;
    
  }
  
  .input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  .login-form input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(255, 69, 0, 0.3);
  }
  
  .error-message {
    color: var(--error-color);
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .success-message {
    color: var(--success-color);
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  }

  .biblio-title {
    margin-left: 20px;
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    font-variation-settings:
            "wdth" 100;
    color: chocolate;
  }

  .book-icon {
    color: chocolate;
    font-size: 3.5rem;
    fill: chocolate;
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(211, 211, 211);
    justify-content: space-between;
    padding-left: 20px;
    background-color: #FFFFFF;
    padding-right: 0;
  }

  .login-img {
    width: 530px;
    height: auto;
    border-radius: 20px;
  }

  .login-button {
    width: 100px;
    padding: 10px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }

  .link-button {
    display: block;
    width: 100%;
    color: #751616;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: var(--button-hover-color);
  }
  
  .link-button:hover {
    color: rgb(80, 80, 239);
  }
  
  @media screen and (max-width: 768px) {
    .login-title {
      font-size: 2rem;
    }

    .biblio-title {
      font-size: 40px; /* Smaller title for tablets */
    }
  
    .auth-form-container {
      margin: 0 15px;
      padding: 20px;
    }

    .content {
      width: 95%; /* Adjust content width */
    }
  }
  
  @media screen and (max-width: 480px) {
    .login-title {
      font-size: 1.5rem;
    }
  
    .login-form input,
    .login-button,
    .link-button {
      padding: 10px;
      font-size: 0.9rem;
    }
  
    .login-form input {
      padding-left: 30px;
    }

    .book-icon {
      display: none;
    }

    .biblio-title {
      margin-left: 0;
      font-size: 30px; /* Even smaller title for phones */
    }

    .content {
      width: 100%; /* Full width for small screens */
      flex-direction: column;
      padding-left: 0;
      margin-left: 0;
    }

    .login-img {
      width: 100%;
      height: auto;
      justify-content: flex-end;
      border-radius: 10px; /* Smaller border radius for phones */
    }
  }
  