.main-style {
    padding: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-banner {
    right: 0;
    width: auto;
    height: 500px;
}

.features h2 {
    font-size: 24px;
    font-weight: bold;
    color: #111133;
    display: flex;
    margin-right: 100px;
    gap: 10px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    color: #111133;
}

/* Highlighted Text */
.highlight {
    color: chocolate;
    font-weight: bold;
}

/* Paragraph Styling */
.hero p {
    font-size: 16px;
    line-height: 1.6;
    color: #33334d;
    margin-top: 20px;
}

.container-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-style {
    align-items: center;
    padding: 5px;
    width: 200px;
    background-color: chocolate;
    color: #FFFFFF;
    border-radius: 15px;
    margin: 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

    .img-banner {
        height: 350px;
    }

    .hero-banner {
        flex-direction: column-reverse;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 14px;
        margin-top: 5px;
    }

    .features {
        flex-direction: column;
    }

    .features h2 {
        font-size: 16px;
        width: 200px;
        justify-content: center;
        margin-top: 30px;
        margin-right: 0;
    }
}